Repository BeHelp/BeHelp, pull requests merged in 2021-12, with the labels that each got.

#32 deployment after having MongoDB and cleaned repo
  backend/server.js
  package-lock.json
  package.json
Labels: deployment

#50 Get all volunteers
  backend/business-logic/users.js
  backend/controllers/users.js
  backend/package-lock.json
  backend/package.json
  backend/routes/users.js
Labels: database, backend, business-logic, controllers, routes

#62 Conflict resolved1
  backend/business-logic/users.js
  backend/controllers/users.js
Labels: database, business-logic, data-access

#61 Development strategy
  backend/business-logic/users.js
  backend/models/User.js
  backend/package-lock.json
  planning/backlog.md
  planning/dev-strat.md
Labels: documentation

#63 1 database
  backend/business-logic/users.js
  backend/controllers/users.js
  backend/data-access/db.js
  backend/models/User.js
  backend/package-lock.json
  backend/package.json
  backend/routes/users.js
  frontend/src/cloudinary/cloudinary.html
Labels: database, backend, business-logic, controllers, routes, data-access

#67 Register database
  backend/business-logic/users.js
  backend/controllers/users.js
  backend/middleware/hashing.js
  backend/models/User.js
  backend/package-lock.json
  backend/package.json
  backend/routes/register.js
  backend/server.js
  package-lock.json
  package.json
Labels: backend, business-logic, controllers, routes

#69 logos
  design/Logos/Logo_big_blue.svg
  design/Logos/Logo_big_grey.svg
  design/Logos/Logo_big_orange.svg
  design/Logos/Logo_big_white.svg
  design/Logos/Logo_small_blue.svg
  design/Logos/Logo_small_orange.svg
  design/Logos/Logo_small_white.svg
  design/Logos/Logo_wb.png
  design/Logos/Logo_wb.svg
  design/Logos/Logo_wb_orange.png
  design/Logos/Logo_wb_small_or.png
  design/Logos/Logo_wb_white.svg
  design/Logos/Logo_wb_white_small.svg
  design/Logos/icon1.png
  design/Logos/logo_Be.png
  design/Logos/logo_Be.svg
  design/fonts to use.md
  design/palette.png
Labels: design

#70 changes for deployment
  backend/server.js
  frontend/styles/index.css
  package-lock.json
  package.json
Labels: deployment

#78 added helmet to backend for security
  backend/server.js
  package-lock.json
  package.json
Labels: backend

#79 header and general scss organisation
  frontend/header.html
  frontend/styles/index.css
  frontend/styles/scss/abstract/_base.scss
  frontend/styles/scss/abstract/_variables.scss
  frontend/styles/scss/layout/_header.scss
  frontend/styles/scss/style.css
  frontend/styles/scss/style.css.map
  frontend/styles/scss/style.scss
  frontend/styles/signin.css
  package-lock.json
  package.json
Labels: html, css

#83 Update dev-strat.md
  planning/dev-strat.md
Labels: documentation

#86 Registration backend code added again :)
  backend/business-logic/users.js
  backend/controllers/users.js
  backend/middleware/hashing.js
  backend/routes/register.js
  backend/server.js
Labels: database, backend, business-logic, controllers

#88 1 database register route
  backend/controllers/register.js
  backend/controllers/users.js
  backend/package-lock.json
  backend/package.json
  backend/routes/register.js
  backend/routes/users.js
Labels: database, backend

#89 About Section - Homepage
  frontend/about.html
  frontend/img/logo_Be.png
  frontend/styles/css/about.css
  frontend/styles/css/about.css.map
  frontend/styles/scss/about.scss
Labels: design, html, css, about

#96 logo_orange
  design/Logos/Logo_wb_orange.svg
Labels: design

#124 Documentation
  README.md
  interview/interview-results.md
Labels: documentation

#127 filename structured
  frontend/src/components/Card.vue
  frontend/src/components/Contact.vue
  frontend/src/components/Filter.vue
  frontend/src/components/Hamburger.vue
  frontend/src/components/Profile.vue
  frontend/src/components/Pswdrecovery.vue
  frontend/src/components/Register.vue
  frontend/src/components/Signin.vue
  frontend/src/components/Testimony.vue
  frontend/src/components/Thankyou.vue
  frontend/src/components/styles/layout/_card.scss
  frontend/src/components/styles/layout/_contact.scss
  frontend/src/components/styles/layout/_filter.scss
  frontend/src/components/styles/layout/_hamburger.scss
  frontend/src/components/styles/layout/_profile.scss
  frontend/src/components/styles/layout/_pswdrecovery.scss
  frontend/src/components/styles/layout/_register.scss
  frontend/src/components/styles/layout/_signin.scss
  frontend/src/components/styles/layout/_testimony.scss
  frontend/src/components/styles/layout/_thankyou.scss
  jsconfig.json
  package-lock.json
Labels: enhancement

#126 fixed footer icons
  frontend/src/assets/fas/facebook.svg
  frontend/src/assets/fas/instagram.svg
  frontend/src/assets/fas/twitter.svg
  frontend/src/components/styles/layout/_footer.scss
Labels: css

#130 hiding user pass from db query
  backend/business-logic/login.js
  backend/models/User.js
Labels: backend

#129 solution to have separate pages in vue
  backend/business-logic/login.js
  backend/business-logic/register.js
  backend/business-logic/users.js
  backend/controllers/login.js
  backend/controllers/register.js
  backend/controllers/users.js
  backend/middleware/hashing.js
  backend/models/User.js
  backend/package-lock.json
  backend/package.json
  backend/routes/login.js
  backend/routes/register.js
  backend/routes/users.js
  backend/server.js
  frontend/index.html
  frontend/src/App.vue
  frontend/src/assets/js/cloudinary.js
  frontend/src/components/Contact.vue
  frontend/src/components/Header.vue
  frontend/src/components/Register.vue
  frontend/src/components/Signin.vue
  frontend/src/components/Thankyou.vue
  frontend/src/components/Whoarewe.vue
  frontend/src/components/old-html/about.html
  frontend/src/components/old-html/header.html
  frontend/src/components/old-html/index.html
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/views/About.vue
  frontend/src/views/Contacts.vue
  frontend/src/views/Home.vue
  frontend/src/views/Login.vue
  frontend/src/views/Signup.vue
  frontend/src/views/Thankyou.vue
  frontend/src/views/Volunteers.vue
  package-lock.json
  package.json
Labels: enhancement, architecture, routes

#133 ii header loggedin
  frontend/src/assets/fas/user-circle-solid.svg
  frontend/src/components/Header.vue
  frontend/src/components/Whoarewe.vue
  frontend/src/components/styles/abstract/_base.scss
  frontend/src/components/styles/layout/_header.scss
Labels: html, css

#137 updated styles-about
  frontend/src/components/styles/abstract/_variables.scss
  frontend/src/components/styles/layout/_about.scss
  frontend/src/components/styles/layout/_services.scss
Labels: css, about

#138 Homepage search improve
  frontend/src/assets/fas/search-solid.svg
  frontend/src/assets/homepage-search.jpg
  frontend/src/components/Search-test.vue
  frontend/src/components/Search.vue
  frontend/src/components/styles/abstract/_base.scss
  frontend/src/components/styles/abstract/_variables.scss
  frontend/src/components/styles/layout/_search.scss
Labels: html, css

#139 filter sidebar UI added & filter button sends back result
  backend/business-logic/users.js
  backend/models/User.js
  backend/routes/users.js
  frontend/index.html
  frontend/src/assets/js/cloudinary.js
  frontend/src/components/styles/abstract/_variables.scss
  frontend/src/components/styles/layout/_filter.scss
  frontend/src/views/Volunteers.vue
Labels: html, css, controllers

#143 login backend modified & JWT added & auth for all routes
  backend/business-logic/login.js
  backend/controllers/login.js
  backend/middleware/auth-check.js
  backend/server.js
  frontend/src/components/styles/abstract/_variables.scss
  package-lock.json
Labels: backend
